@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
   margin: 0; 
   padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    color: #1B4218;
}

.menu-principal{
    display: flex;
    justify-content: space-between;
}

.menu-principal__pesquisa-home-login{
    display: flex;
}

.menu-principal__carrinho-acessibilidade{
    display: flex;
    align-items: center ;
}
#casa-img{
    width: 48px;
    height: 48px;
}

.barra-busca{
    margin-left: 2px;
    border-radius: 15px;
    border: solid 2px;
    width: 395px;
}

#txt-buscar{
    background-color: transparent;
    float: left;
    border: none;
    font-style: italic;
    font-size: 24px;
    width: 355px;
    padding-left: 5px;
    height: 45px;
}

#lupa-img{
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.area-login{
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

#txt-login{
    width: 205px;
    height: 19px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #545454 ;
}

#perfil-img{
    flex-grow: 4;
    width: 48px;
    height: 48px;
    margin-right:3px ;
}



#carrinho-img{
    width: 48px;
    height: 48px;
    margin-right: 5px;
}

#txt-acessibilidade{
    width: 159px;
    height: 36px;
    font-size: 20px;
    font-family: "Inter", sans-serif;

}